@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}

.container-comunidade {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 3%;
}

.conteudo-comunidade {
    text-align: center;
    padding: 0 10%;
    line-height: 1.2;
    width: 100%;
}

.conteudo-comunidade h1 {
    font-weight: 700;
    font-size: 25px;
    
}

.conteudo-comunidade p {
    margin-top: 20px;
    text-align: justify;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    
}

.container-flex ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   

}

/* Container de cada lista*/
.lista-comunidade{
    display: inline-block;
    border: 1.5px solid;
    border-radius: 25px;
    text-align: center;
    width: 315px;
    padding: 20px 25px;
    margin: 30px;
}

.lista-comunidade h2 {
    font-size: 20px;
    font-weight: 600;
}

.lista-comunidade img {
    width: 40%;
    border-radius: 50px;
    margin: 20px 0;
}

.lista-comunidade p {
    text-align: justify;
    line-height: 1.4;
    word-spacing:4px;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
}

.lista-comunidade:hover {
    border-color: rgb(206, 60, 169);
    box-shadow:3px 1px  2px #7a2676;
}

.lista-comunidade:hover h2 {
    font-size: 25px;
}

