@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}


#background {
    background-color: #000000;
    color: #ffffff;
}

/*Cabeçalho*/
.cabecalho{
    width: 100%;
}

.navegacao {
    text-align: right;
    padding: 20px 20px 0 20px;
    font-family: 'Raleway', sans-serif;
    
}

.navegacao li {
    margin: 0 0 0 10px;
    display: inline;
   
    
}

.navegacao a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}

.navegacao a:visited {
    text-decoration: none;
 }

.navegacao a:hover {
    color: rgb(206, 60, 169);
    text-decoration: underline;
}

/*Container da Página Principal*/

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-top: 3%;
}

/* Imagem Principal*/

.imagem {
    width: 50%;
}

.imagem-home {
    width: 90%;
    border-radius: 50%;
}

/* Conteúdo Principal*/

.conteudo {
    color:#FFFFFF;
    text-align: center;
    margin: 0 20px;
    padding: 0 5%;
    width: 50%;
}

.conteudo h1 {
    font-size: 25px;
    font-weight:700;
}
.marcacao {
    color:rgb(206, 60, 169);
    font-weight: 700;
}

.conteudo p {
    margin: 15px 0;
    text-align: justify;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
}


.botao {
    border: none;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(206, 60, 169);
    text-transform: uppercase;
    
}

.botao a {
    text-decoration: none;
    color: #FFFFFF;

}

.botao a:visited{
    text-decoration: none;
}


.botao:hover{
    background-color: rgba(206, 60, 169, 0.6);
}
/*Responsividade*/

@media screen and (max-width: 760px) {
    .container {
        flex-direction:column;
    }
    .imagem-home {
        align-items:center;
        width: 110%;
        
    }
    .conteudo{
        margin-bottom: 15px;
        width: 100%;
        padding: 0 10%;
    }
}
