@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500;800&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

#background {
    background-color: #000000;
    color: #ffffff;
}

.cabecalho{
    width: 100%;
}

.navegacao {
    text-align: right;
    padding: 10px;
}

.navegacao li {
    margin: 0 0 0 10px;
    display: inline;
    
}

.navegacao a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    
}

.navegacao a:visited {
    text-decoration: none;
 }

.navegacao a:hover {
    color: rgb(206, 60, 169);
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.imagem-home {
    margin-top: 20px;
    width: 100%;
    border-radius: 50%;

}

.conteudo {
    color:#FFFFFF;
    background:gray;
    text-align: center;
    margin: 0 20px;
    padding: 0 20px;;
}


.conteudo .titulo {
    
    font-size: 60px;
}


/*Responsividade*/

@media screen and (max-width: 480px) {
    .container {
        flex-direction:column;
    }  
}
